*{
    margin: 0px;
    padding: 0px;
}
/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* This is a header section style */

.button-primary{
    background-color:#E55473 ;
    padding: 20px 43px;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    border: 0px;
    
   
}
.landing-page{
    background-color: antiquewhite;
    
}

.banner{
   
    padding: 100px 200px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    color: #272727;
    font-size: 70px;
    font-weight: 70px;
    margin-bottom: 32px;

}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}
.profile-pic{
    padding: 50px 240px 0px 97px;
    width: 635px;
    height: 800px;


}
.banner-content{
    max-width: 634px;
   
}
/* This is a header section style end */

.main-Featured{
    text-align: center;
   
    
}
.Featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
.Featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

}

 


.img-description{
    display: flex;
  
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    height: 35px;
    text-align: center; 


    

   
}

.Featured-flower-section{
    display: flex;
    padding: 48px 240px 195px 240px;
    justify-content: center;
    gap: 24px;
    
 
  

}
.flower-img{
    background: #f1eaed;
    
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    row-gap: 24px;
  
 }
.flower-img-1{
    background:#caedf0;
    
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
   

}
.flower-img-2{
    background:#c9e7ab;
    
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
   

}
.flower-assent{
    display: flex;
    background-color: #dfdbdb;
    justify-content: space-between;
    padding: 86px 317px 87px;
    margin: 0px 240px 128px 240px ;
  

}
.hot-deal{
    background-color: #f0d9de;

    display: flex;
    align-items: center;
    padding: 230px 0px 162px 423px;

}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
   

}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 52px;
}
.hot-deal-ing{
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 186px;


}
   
  
    


    

